:root {
    --main-bg-color: #fafafa;
    --cell-default: #e0e0e0;
    --ship-cell: #a0aec0;
    --missed-shot: #cbd5e0;
    --hit-ship: #ef4444;
    --grid-border: #b0b0b0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-bg-color);
}

header {
    padding: 0.5rem;
}

h2 {
    white-space: nowrap;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 280px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    outline: solid 1px var(--grid-border);
    aspect-ratio: 1 / 1;
}

.cell:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.cell.empty {
    background-color: var(--cell-default);
}

.cell.hit {
    background-color: var(--hit-ship);
}

.cell.missed {
    background-color: var(--missed-shot);
}

.cell.ship {
    background-color: var(--ship-cell);
}